<br/>
<br/>
<br/>
<br/>
<center><p id="notice"><%= notice %></p>
	<p>Thanks!</p></center>


<!--
<p>
  <b>Ticket:</b>
  <%= @create_rating.ticketNumber %>
</p>

<p>
  <b>Rating:</b>
  <%= @create_rating.ratingVal %>
</p>


<%= link_to 'Edit', edit_create_rating_path(@create_rating) %> |
<%= link_to 'Back', create_ratings_path %>
-->